<body>

  <h1>{{frameSetName . }}</h1>

  <table>
    <tr>
      <th>Start frame</th>
      <th>End frame</th>
      <th>Name</th>
      <th>Frames</th>
    </tr>

{{ range .OrderedChunks }}
    <tr>
      <td align="center">{{ .Range.Start }}</td>
      <td align="center">{{ .Range.End }}</td>
      <td>{{ .Key }}</td>
      <td>
        {{ range makeScrubNails . }}
          <a href="" target="_blank" class="video-preview" data-frames="{{.NumFrames}}" data-source="{{.RelaScrubnailPath}}"></a>
        {{ end }}

        <a href="https://www.youtube.com/watch?v=v1uyQZNg2vE" target="_blank" class="video-preview" data-frames="100" data-source="http://i.imgur.com/BX0pV4J.jpg"></a>
      </td>
    </tr>
{{ end }}

  </table>
</body>
